h2{
    margin-top: 50px;
    font-size: 14px; 
    text-align: center;
    color: #3F2A0C;
}

h3{
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 14px;
    color: #55a4e8;
    cursor: pointer;
}

button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    background-color: #3F2A0C;
    color: #FFF9F1;
    width: 70px;
    height: 25px;
    border: none;
    color: 3F2A0C;
    border-radius: 20px;
}

.closeButton{
    background-color: #FFF9F1;
    border-style: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border-style: none;
    background-color: #f3ebe2;
    width: 300px;
    height: 33px;
    padding-left: 10px; 
}

::placeholder{
    color: #c4baad;
}

.Auth{
    padding-top: 0px;
    /* background-color: aqua; */
    position: relative;  
}

.header-line {
  display: flex;
  align-items: baseline;
  gap: 3px; 
}
