.GuestRightNavButtons{
  display: flex;
  justify-content: center; 
}

.signUpButton button{
  padding: 5px 10px;
  background-color: #3F2A0C;
  color: #FFF9F1;
  width: 70px;
  height: 25px;
  border: none;
  color: 3F2A0C;
  border-radius: 20px;
  cursor: pointer;
}

.logInButton button {
  margin-right: 25px;
  margin-left: 650px;
  display: flex;
  justify-content: center; 
  padding: 3px 10px;
  background-color: #FFF9F1;
  border-color: #3F2A0C;
  border-width: 1.5px;
  border-style: solid;
  width: 70px;
  height: 25px;
  color: #3F2A0C;
  border-radius: 20px;
  cursor: pointer;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #FFF9F1;
  border-bottom: 1px solid #f1ddc7;
}

.nav-left a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.logo{
  height: 40px;   
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

.footer{
  margin-top: 1000px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
