.search-container {
  width: 300px;
  position: absolute; 
  margin-top: 5px;         
  right: 300px;       
  z-index: 100;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.input-wrapper input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-right: 36px; 
  border-radius: 30px;
}

.search-btn {
  position: absolute;
  right: 0px;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.results-list {
  position: absolute;
  top: 100%;   
  right: 0;     
  width: 100%; 
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  text-align: left;
}

.result-item {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 0px;
  color: inherit;
}

.result-item:hover {
  background-color: #f0f0f0;
}
